

<body bgcolor="#FFFFFF" text="#000000">
<div align="center"><br>
  <!-- BEGIN: main -->
  <script LANGUAGE="JavaScript">
<!--
function validate_edit_user()
  {
	ok=1;
	errors = "";
   
	
	if(document.forms[0].lname.value == "") 
   	{ 
		errors += " - Last Name be entered.\n";
		ok=0;
		document.forms[0].lname.focus();
	}
	if(document.forms[0].fname.value == "") 
   	{ 
		errors += " - First Name be entered.\n";
		ok=0;
		document.forms[0].fname.focus();
	} 
	if(document.forms[0].MAC.value == "") 
   	{ 
		errors += " - MAC Addressmust be entered.\n";
		ok=0;
		document.forms[0].MAC.focus();
	}
	if(ok == 0)
	{
		alert(errors);
		return false;
	}
	else return true;
  }
// -->
</script>
</div>
<form name="form1" method="post" action="">
  <div align="center">
    <table width="760" bgcolor="#DFDFDF">
      <tr bgcolor="#4E4E4E"> 
        <td colspan="2" height="30"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr> 
              <td width="40%"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif"><b>Edit 
                Phone Registrations </b><a href="index.php?module=help#Phone_Registration_edit" target="_blank"><font color="#FFFFFF">(help?)</font></a></font></td>
              <td width="60%"> <div align="right"> 
                  <input type="hidden" name="id" value="{id}">
                  <input type="hidden" name="baseauth" value="{baseauth}">
                  <input type="hidden" name="action" value="edit">
                  <input type="submit" name="submit_cancel" value=" Cancel ">
                  <input type="submit" name="submit_delete" onClick="return confirmSubmit()" value=" Delete ">
                  <input type="submit" name="submit_save" onClick="return validate_edit_user()" value="  Save  ">
                </div></td>
            </tr>
          </table></td>
      </tr>
      <tr bgcolor="#EFEFEF"> 
        <td width="200" bgcolor="#EFEFEF" height="25"><b><font face="Arial, Helvetica, sans-serif" size="2">MAC 
          Address: </font></b></td>
        <td bgcolor="#EFEFEF"> <input type="text" name="MAC" size="30" maxlength="50" value="{MAC}">
          * </td>
      </tr>
      
      <tr bgcolor="#EFEFEF"> 
        <td width="200" height="11" bgcolor="#EFEFEF"> <div align="left"><b><font face="Arial, Helvetica, sans-serif" size="2">First 
            Name:</font></b></div></td>
        <td bgcolor="#EFEFEF"><p> 
            <input type="text" name="fname" size="30" maxlength="50" value="{fname}">
            *</p></td>
      </tr>
      <tr bgcolor="#EFEFEF">
        <td width="200" height="12" bgcolor="#EFEFEF"><b><font face="Arial, Helvetica, sans-serif" size="2">Last 
          Name:</font></b></td>
        <td bgcolor="#EFEFEF"><input type="text" name="lname" size="30" maxlength="50" value="{lname}">
          * </td>
      </tr>
      <tr bgcolor="#EFEFEF"> 
        <td bgcolor="#EFEFEF" height="25"><b><font face="Arial, Helvetica, sans-serif" size="2">Number:</font></b></td>
        <td bgcolor="#EFEFEF"><input type="text" name="number" size="30" maxlength="50" value="{number}"></td>
      <tr bgcolor="#EFEFEF"> 
        <td width="200" bgcolor="#EFEFEF" height="25"><b><font face="Arial, Helvetica, sans-serif" size="2">Access 
          Level:</font></b></td>
        <td bgcolor="#EFEFEF"> <select name="access_lvl">
            <option {selected_restricted}>Restricted</option>
            <option {selected_unrestricted}>Unrestricted</option>
			<option {selected_unknown}>Unknown</option>
          </select>
          *</td>
      </tr>
    </table>
  </div>
</form>
<!-- END: main -->
