<!-- BEGIN: main -->
<div align="center"> 
  <table width = "760" border="0" cellspacing="20" bgcolor="#FFFFFF">
    <tr> 
      <td  valign="top" height="162"><table width="100%" height="100%">
          <td bgcolor="#EFEFEF" width="50%" valign="top"><table width="98%">
                <tr> 
                  <td width="56"><div align="center"><img src="WebUI/modules/images/icon_object.gif" width="40" height="30"></div></td>
                  <td width="254"><font color="#EFEFEF"><strong><a href="index.php?module=view_objects"><font color="#000000" face="Arial, Helvetica, sans-serif">Objects</font></a></strong></font></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Objects 
                    contain menu items including phone directories, hyperlinks, 
                    and other menu items.</font></td>
                </tr>
                <tr> 
                  <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
                </tr>
                <tr> 
                  <td><div align="center"><img src="WebUI/modules/images/icon_phone.gif" width="40" height="30"></div></td>
                  <td><a href="index.php?module=view_contacts"><font color="#000000" face="Arial, Helvetica, sans-serif"><strong>Contacts</strong></font></a></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Add, 
                    edit, delete, and import contacts.</font></td>
                </tr>
                <!-- BEGIN: admin_section1 -->
                <!-- END: admin_section1 -->
                <tr> 
                  <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
                </tr>
                <tr> 
                  <td><div align="center"><img src="WebUI/modules/images/icon_memo.gif" width="40" height="30"></div></td>
                  <td><font color="#FFFFFE"><a href="index.php?module=view_memos"><strong><font color="#000000"face="Arial, Helvetica, sans-serif">Memos</font></strong></a></font></td>
                </tr>
                <tr> 
                  <td>&nbsp;</td>
                  <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Add, 
                    edit, and delete memos.</font></td>
                </tr>
                <tr> 
                  <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
                </tr>
                <tr> 
                  <td><div align="center"><img src="WebUI/modules/images/tree_menu_icon.gif" width="40" height="30"></div></td>
                  <td><font color="#EFEFEF"><a href="index.php?module=tree"><strong><font color="#000000"face="Arial, Helvetica, sans-serif">Preview 
                    All</font></strong></a></font></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Display 
                    a 'tree' view of the on-screen objects.</font></td>
                </tr>
              </table></table>
        <br>
        <table bgcolor="#F9F9F9" width="100%" border="0">
         
        </table> </td>
      <td width="50%" valign="top"><table width="100%">
          <tr> 
            <td><div align="center"><img src="WebUI/modules/images/icon_settings.gif" width="40" height="30"></div></td>
            <td><font face="Arial, Helvetica, sans-serif"><strong><a href="index.php?module=global_pref"><font color="#000000" face="Arial, Helvetica, sans-serif">Global 
              Preferences</font></a> <a href="index.php?module=view_phones"><strong><font color="#000000" face="Arial, Helvetica, sans-serif"></font></strong></a></strong></font></td>
          <tr> 
            <td>&nbsp;</td>
            <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Set 
              system preferences regarding display permissions and security. Set 
              system display preferences, object phone secutity options.</font></td>
          </tr>
		   <tr> 
            <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
          </tr>
          <!-- BEGIN: admin_section2 -->
          <tr> 
            <td width="42"><div align="center"><img src="WebUI/modules/images/icon_security.gif" width="40" height="30"></div></td>
            <td><font face="Arial, Helvetica, sans-serif"><strong><a href="index.php?module=view_phones"><strong><font color="#000000" face="Arial, Helvetica, sans-serif">Phone 
              Registrations</font></strong></a></strong></font></td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Set 
              username, security level, and other settings for each Cisco 79XX 
              phone on your system.</font></td>
          </tr>
          <!-- END: admin_section2 -->
          <tr> 
            <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
          </tr>
          <tr> 
            <td><div align="center"><img src="WebUI/modules/images/icon_directory.gif" width="40" height="30"></div></td>
            <td><a href="index.php?module=view_users"><strong><font color="#000000" face="Arial, Helvetica, sans-serif">Web 
              User Administration</font></strong></a></td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">Add, 
              edit and remove users accounts.</font></td>
          </tr>
          <tr> 
            <td><img src="WebUI/modules/images/spacer.gif" width="1" height="5"></td>
          </tr>
          <tr> 
            <td><div align="center"><img src="WebUI/modules/images/icon_help_main.gif" width="40" height="30"></div></td>
            <td><a href="index.php?module=help"><strong><font color="#000000" face="Arial, Helvetica, sans-serif">Help</font></strong></a></td>
          </tr>
          <tr> 
            <td>&nbsp;</td>
            <td><p><font color="#000000" style="font-size: 9pt;" face="Arial, Helvetica, sans-serif">How 
                to use this web interface, FAQ.</font></p></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
<!-- END: main -->