<!-- BEGIN: main -->  
  <table width="760" align="center" bgcolor="#DFDFDF">
    <tr bgcolor="#4E4E4E"> 
      <td colspan="2" height="30"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            
          <td><font face="Arial, Helvetica, sans-serif"><b><font color="#FFFFFF">Error</font></b></font></td>
            <td> <div align="right"> </div></td>
          </tr>
        </table></td>
    </tr>
    <tr bgcolor="#EFEFEF"> 
      
    <td width="645" bgcolor="#EFEFEF" height="25"><b><font face="Arial, Helvetica, sans-serif" size="2">Sorry 
      you must have an account with admin priveledges to access this page.</font></b></td>
      <td width="103" bgcolor="#EFEFEF">&nbsp; </td>
    </tr>
  </table>
<!-- END: main -->