<!-- BEGIN: header --> 
<table width="100%" border="0">
  <tr>
    <td width="66%"><font color="#000000" face="Arial, Helvetica, sans-serif"><img src="WebUI/modules/images/tree_icon_container.gif" width="20" height="13"> 
      = Container, <img src="WebUI/modules/images/tree_icon_category.gif" width="15" height="12"> 
      = Contact Holder, <img src="WebUI/modules/images/tree_icon_link.gif" width="20" height="13"> 
      = Link</font></td>
  </tr>
</table>
<p><strong><a href="index.php?module=edit_object&id=0" "NAME="0" ></a></strong></p>
<table bgcolor="#EFEFEF" border="0">
  <tr>
    <td> 
      <!-- END: header -->
      <!-- BEGIN: container -->
      <font face="Arial, Helvetica, sans-serif"><img src="WebUI/modules/images/tree_icon_container.gif" width="20" height="13"> 
      <font color="#000000">{title}</font></font><br>
      <!-- END: container -->
      <!-- BEGIN: category -->
      <font face="Arial, Helvetica, sans-serif"> <img src="WebUI/modules/images/tree_icon_category.gif" width="15" height="12"> 
      <font color="#000000">{title}</font></font><br>
      <!-- END: category -->
      <!-- BEGIN: link -->
      <font face="Arial, Helvetica, sans-serif"><img src="WebUI/modules/images/tree_icon_link.gif" width="20" height="13"> 
      <font color="#000000">{title}</font></font><br>
      <!-- END: link -->
      <!-- BEGIN: spacer -->
      <font face="Arial, Helvetica, sans-serif">{spacer}</font> <img src="WebUI/modules/images/treespacer.gif" width="19" height="22"> 
      <!-- END: spacer -->
      <!-- BEGIN: spacer_blank -->
      <font face="Arial, Helvetica, sans-serif">{spacer}</font> <img src="WebUI/modules/images/spacer.gif" width="19" height="22"> 
      <!-- END: spacer_blank -->
	  <!-- BEGIN: end -->
    </td>
  </tr>
</table>
<br>
<!-- END: end -->
</body>
</html>
